body{
    margin: 0;
    background-color: #171823;
    font-family: 'Questrial', sans-serif;
}
h1{
    color: white;
    font-size: 60px;
    text-align: center;
    margin: 2vh;
}
p{
    margin: 0;
}
label{
    position: fixed;
    left: 0;
    font-size: 40px;
    width: 100vw;
    text-align: center;
}
#code-editor{
    position: fixed;
    top: 35vh;
    left: 2vw;
    width: 42.5vw;
    border: 5px solid #aaaab7;
}
#problem-description{
    font-size: 24px;
    color: white;
}
#time{
    text-align: center;
    color: lightgreen;
    font-size: 10vh;
}
#scoreboard{
    border: 1px solid white;
    position: fixed;
    width: 31.5vw;
    left: 66vw;
    height: 56vh;
    top: 35vh;
    border-radius: 5px;
    overflow-y: scroll;
}
.scoreboard-title{
    background-color: white;
    text-align: center;
    font-size: 25px;
    padding: 20px;
}
.scoreboard-names{
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    color: white;
    font-size: 25px;
    width: 40%;
    padding: 10px 0 10px 0;
    text-align: center;
    float: left;
}
.scoreboard-times{
    color: white;
    border-bottom: 2px solid white;
    font-size: 25px;
    padding: 10px 0 10px 0;
    width: calc(60% - 2px);
    float: left;
    text-align: center;
}
.enter-user-name{
    top: 27vh;
}
.enter-game-code{
    top: 43vh;
}
.timer{
    position: fixed;
    height: 15vh;
    border-radius: 5px;
    padding-top: 5vh;
    left: 66vw;
    top: calc(62px + 4vh);
    width: 31.5vw;
    border: 1px solid white;
}
.submit-button{
    background-color: #4bba2c;
    border-radius: 5px;
    position: fixed;
    padding-top: 10px;
    width: 17vw;
    height: calc(8.5vh - 5px);
}
.submit1{
    position: fixed;
    top: 60vh;
    left: 41.8vw;
}
.submit2{
    top: 83vh;
    left: 47vw;
}
.submit-button:hover{
    padding-top: 5px;
    height: calc(8.5vh - 10px);
    width: calc(17vw - 10px);
    border: 5px solid #bf9ddb;
}
.submit-button:active{
    padding-top: 5px;
    height: calc(8.5vh - 10px);
    width: calc(17vw - 10px);
    border: 5px solid #7c32bc;
}
.submit-text{
    color: white;
    margin: 15px;
    text-align: center;
    font-size: 25px;
}
.description{
    border-radius: 5px;
    padding: 2vh;
    border: 1px solid white;
    width: 60vw;
    height: 16vh;
    overflow-y: scroll; 
    margin-left: 2vw;
}
.output-box{
    background-color: #13174f;
    border-radius: 5px;
    left: 47vw;
    top: 35vh;
    border: 1px solid white;
    position: fixed;
    height: 45vh;
    width: 17vw;
    overflow-y: scroll;
}
.resultOutput{
    padding: 20px;
    height: 20px; 
    border-bottom: 1px solid white;
}
.success{
    background-color: #67bf5d;
}
.fail{
    background-color: #a82a2a;
}
.standard{
    text-align: center;
    background-color: aliceblue;
}
.CodeMirror{
    font-size: 22px;
    padding: 5px;
    height: calc(56vh - 10px);
}
.credits{
    text-align: center;
    position: fixed;
    top: 95vh;
    height: 4vh;
    width: 100vw;
    padding-top: 1vh;
    font-size: 3vh;
    color: #aaaab7;
    background-color: #111116;
    
}

.center-card{
    opacity: 0.9;
    background-color: #dbdfff;
    height: 400px;
    width: 500px;
    position: fixed;
    left: calc(50vw - 255px);
    top: calc(50vh - 235px);
    border-radius: 5px;
    border: 10px solid white;
}
#user-name{
    text-align: center;
    position: fixed;
    top: 33.5vh;
    border-radius: 10px;
    border: 3px solid #06c600;
    height: 5vh;
    left: 40vw;
    font-size: 23px;
    padding: 5px;
    width: calc(20vw - 10px);
}
#game-code{
    text-align: center;
    position: fixed;
    top: 50vh;
    border-radius: 10px;
    border: 3px solid #06c600;
    height: 5vh;
    left: 40vw;
    font-size: 23px;
    padding: 5px;
    width: calc(20vw - 10px);
}
#start-screen{
    display: block;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #171823;
    top: 0;
    left: 0;
}

#waiting-room{
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #171823;
    top: 0;
    left: 0;
}
#waiting-room-display{
    background-color: #dbdfff;
    border-radius: 5px;
    left: 35vw;
    top: 15vh;
    border: 10px solid white;
    position: fixed;
    height: 70vh;
    width: 30vw;
    overflow-y: scroll;
}
.guestNames{
    height: 50px;
    background-color: #dbdfff;
    border-bottom: 10px solid white;
}
.submit3{
    left: 41.8vw;
    top: 74vh;
}